<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Copula Person</title>
	<link rel="icon" type="image/png" th:href="@{/images/morpho_logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{sidebar :: sidebar}"></div>
	<div th:replace="~{github-link :: githublink}"></div>
    <div class="main">
		<h1 class="word-display">
		            <span th:each="seg : ${segments}" th:text="${seg.text}" th:class="'seg-' + ${seg.label}"></span>
		        </h1>
        <p>Choose copula person:</p>

        <div class="person-grid">
            <form action="/suffix/copula/1" method="post"><button type="submit">1st sg</button></form>
            <form action="/suffix/copula/2" method="post"><button type="submit">1st pl</button></form>
            <form action="/suffix/copula/3" method="post"><button type="submit">2nd sg</button></form>
            <form action="/suffix/copula/4" method="post"><button type="submit">2nd pl</button></form>
            <form action="/suffix/copula/5" method="post"><button type="submit">3rd sg</button></form>
            <form action="/suffix/copula/6" method="post"><button type="submit">3rd pl</button></form>
        </div>

        <div class="utility-row">
            <form action="/word" method="get">
                <button type="submit">Return</button>
            </form>
        </div>
    </div>
	
</body>
<script>
        if (sessionStorage.getItem('colorMode') === 'true') {
            document.querySelector('.word-display').classList.add('color-mode');
        }
    </script>
</html>