<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turkish Morphology Builder</title>
	<link rel="icon" type="image/png" th:href="@{/images/morpho_logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	
</head>
<body>
    <div th:replace="~{sidebar :: sidebar}"></div>
	<div th:replace="~{github-link :: githublink}"></div>

    <div class="main">
		<form action="/start" method="post">
		            <input type="text" id="word" name="word" class="word-input" placeholder="enter a turkish word">
		        </form>
    </div>
	
</body>
</html>